<%- include('studentheader.ejs')%>



<div class="editbg">

  <div class="container ">
    <div class="row   editborder">
      
      <div class="col-md-2">
      </div>


      <div class="col-md-8 bg">
        <div class="text-center">
          <h3>Reply Complaints</h3>
        </div>
        <div class="modal-body">


          <table class="table table-success table-striped">
            <thead>
              <tr class="noExl">
              </tr><tr><th>Complaint Type:</th><th> <%= re.complaint_type %></th></tr>
              <tr><th>Complaint Details:</th><th> <%= re.com_details %></th></tr>
              <tr><th>roll No:</th><th> <%= re.roll %></th></tr>
              <tr><th>complaint Reply:</th><th> <%= re.com_reply %></th></tr>
              
              
              
              </th></tr>
              
              </thead>
            
          </table>

         
          






        </div>
      </div>



      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>