<%- include('studentheader.ejs')%>


    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 50%; height:150px; border-radius:100px;"
                        src="<%= g.url %>" alt="user">
                    <div class="card-body">
                        <h4 float-right=""><a href="/studentlogout">logout</a></h4>
                        <h5 class="card-title">Student Profile Info</h5>
                        <p class="card-text"><i class="fa fa-user">&nbsp;</i>
                            <%= n %>
                        </p>

                        <p class="card-text"><i class="fa fa-user">&nbsp;</i>Email: <%= e %>
                        </p>
                        <p class="card-text"> Roll Number : <%= r %>
                        </p>
                        <p class="card-text"> Mobile Number : <%= m %>
                        </p>

                        <a href="#" class="btn loginbtblue" data-bs-toggle="modal" data-bs-target="#updateimage">Edit
                            Profile</a>
                        &nbsp;
                        <a href="#" class="btn loginbt" data-bs-toggle="modal" data-bs-target="#changepassword">Change
                            Password</a>


                    </div>
                </div>
            </div>
            <div class="col-md-8 jumb">
                <div class="jumbotron" style="width: 100%; height: 100%">
                    <h1>Hello <%= n %>,</h1>
                    <div class="row down">
                        <div class="col-md-6">
                            <iframe src="http://free.timeanddate.com/clock/i6cpk6ac/n930/szw160/szh160/cf100/hnce1ead6"
                                frameborder="0" width="160" height="160"></iframe>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Notifications</h5>
                                    <p class="card-text">view the notifications from grievance cell.</p>
                                    <a href="#" data-toggle="modal" data-target="#student_login"
                                        class="btn  loginbtblue">see notifications</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Post a Grievance</h5>
                                <p class="card-text">having some issues ? lodge a new complaint.</p>
                                <!-- <a href="#" data-toggle="modal" data-target="#category" class="btn btn-success">Add</a> -->

                                <!-- Button trigger modal -->
                                <button type="button" class="btn  loginbtblue" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Complaint</button>



                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#####</h5>
                                <p class="card-text">view all the notifications from grievance cell</p>
                                <a href="#" data-toggle="modal" data-target="#brand" class="btn  loginbtblue">Add</a>
                                <a href="#" class="btn  loginbt">Manage</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">View Status</h5>
                                <p class="card-text"> view status of the grievance/complaint posted by you</p>
                                <!-- <a href="#" data-toggle="modal" data-target="#product"class="btn btn-success">Add</a> -->
                                <a href="3" class="btn loginbtblue" data-bs-toggle="modal"
                                    data-bs-target="#view_status">View</a>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>




    <!-- Modal  for view complaint start-->
    <div class="modal fade" id="view_status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-lg modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Your Grievance
                        Status </h5>


                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="overflow-x: auto;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <input id="pglmt" placeholder="Page Limit" title="Page Limit" value="10"
                                        class="form-control">
                                </td>
                                <td>
                                    <button id="btnApply" class="btn loginbtblue">Apply</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Complaint Type</td>
                                <td>Roll.No</td>
                                <td>View Status /Admin_Reply</td>
                                <td>View complaints</td>
                                <td>Reminder</td>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tbody>

                            <% v.forEach((item)=>{ %>


                                <tr>
                                    <td>
                                        <%= item.createdAt.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= item.complaint_type %>
                                    </td>
                                    <td>
                                        <%= item.roll %>
                                        
                                    </td>
                                    <td>
                                        <% if(v12) { %>
                                            
                                           
                                            <p class="text-black"><%= v12.com_reply %></p>

                                            

                                        <% } else {%>

                                            <a href="#" class="btn btn-danger">Padding</a>   

                                        <% } %>
                                    </td>

                                    <td><a href="/complaint/<%= item._id %>" class="btn loginbtblue">View
                                            Complaints</a></td>
                                    <td><a href="" class="btn loginbt">Reminder</a></td>
                                </tr>


                                <% }) %>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal  for view complaint End-->



    <!-- Modal  of insert complaint  start-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Post a Gravience</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/insertgravience" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="">Complaint Type</label>
                            <input type="text" name="complaint_type" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Semester</label>
                            <input type="text" name="semester" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Course/Title</label>
                            <input type="text" name="course_title" class="form-control" value="<%= c %>" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="">Roll.No:</label>
                            <input type="text" name="roll" class="form-control" value="<%= r %>" readonly>
                        </div>


                        <div class="mb-3">
                            <label for="">Complaint Details</label>
                            <textarea name="com_details" class="form-control" id="" cols="15" rows="4"></textarea>
                        </div>


                        <div class="mb-3">
                            <label for="">Upload Images</label>
                            <input type="file" name="com_image" class="form-control">
                        </div>

                        <div>
                            <button type="submit" class="btn loginbtblue">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal  of insert complaint End-->


    <!-- edit-update  profile image model start-->
    <div class="modal fade" id="updateimage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Your Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/stprofileupdate/<%= i %>" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="">Student Name</label>
                            <input type="text" name="stud_name" class="form-control" value="<%= n %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="">Roll.No:</label>
                            <input type="text" name="roll_no" class="form-control" value="<%= r %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="">Course:</label>
                            <input type="text" name="course" class="form-control" value="<%= c %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="">Year:</label>
                            <input type="text" name="branch" class="form-control" value="<%= b %>" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="">Email.Id:</label>
                            <input type="text" name="email" class="form-control" value="<%= e %>">
                        </div>





                        <div class="mb-3">
                            <label for="">Mobile.No:</label>
                            <input type="number" name="mobile" class="form-control" value="<%= m %>">
                        </div>






                        <div class="mb-3">
                            <label for="">Upload Images</label>
                            <input type="file" name="image" class="form-control">
                            <img src="<%= g.url %>" width="150px">
                        </div>

                        <div>
                            <button type="submit" class="btn loginbtblue">Update </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- edit-update  profile image model end-->


    <!-- change password model start -->

    <div class="modal fade" id="changepassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Your password</h1>



                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/changepassword/<%= i %>" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="">Old Password</label>
                            <input type="password" name="oldPassword" class="form-control" value="">
                        </div>




                        <div class="mb-3">
                            <label for="">New Password</label>
                            <input type="password" name="newPassword" class="form-control" value="">
                        </div>
                        <div class="mb-3">
                            <label for=""> Confirm Password</label>
                            <input type="password" name="confirmPassword" class="form-control" value="">
                        </div>
                        <div>
                            <button type="submit" class="btn loginbtblue">Update </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- change password model end -->